body {
  padding: 0.5em; /* 12/24px= 0.5 em*/
  margin: 0;
  line-height: 1.75;
  text-align: center;
  background-color: beige;
  color: black;
} 
figure {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center
   
  }
  figure:after {
    display: block;
    margin: 10px;
    flex: 999 999 auto;

}

h1{
   text-align: center; 
   color: black;
   background-color: beige;
   padding: 1em;
   margin:auto ;
}

h2 {
    text-align: center;
    margin: auto;
    background-color: beige;
    color: purple;
    padding: 1em;
  }

  h3 {
    text-align: center;
    margin: auto;
    background-color: beige;
    color: purple;
    padding: 1em;
  }

  h4 {
    text-align: center;
    margin: auto;
    background-color: beige;
    color: purple;
    padding: 1em;
  }
  
  nav{
  overflow: hidden;
  }

  nav ul{
  list-style-type: none;
  margin: 10px;
  display: inline-block;
  }

  nav ul li{
  float: left;
  }

  nav ul li a{
  display: block;
  padding: 10px 30px;
  color: black;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  }
  
  nav {
    background: transparent;
    color: #FFF;
    height: 35px;
    padding-left: 18px;
    border-radius: 15px;
    display: block;
    
  }
   nav {
    margin: 0 auto;
    padding: 15px;
    list-style: none
  }

footer{
  text-align: end;
}

ul{
  margin-left: 1em;
  list-style-type: circle;
}


@media screen and (min-width: 360px) {
  figure{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 480px) {
  figure {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
